root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts,java,xml,json,md,txt,properties,prop,pro,list,yml,yaml}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4

[*.{bat,cmd,ps1}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
