<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaltPlayerProvider">

        <meta-data
            android:name="lyricon_module"
            android:value="true" />
        <meta-data
            android:name="lyricon_module_author"
            android:value="@string/lyricon_module_author" />
        <meta-data
            android:name="lyricon_module_description"
            android:value="@string/lyricon_module_description" />
        <meta-data
            android:name="lyricon_module_tags"
            android:resource="@array/lyricon_module_tags" />

    </application>
</manifest>
